.post {
  border: 0.1vw solid #dbdbdb;
  border-radius: 0.3vh;
  margin-bottom: 2vh;
  background-color: rgb(107, 104, 104);
  padding-left: 1vw;
  color: white;
}

.post-header {
  padding: 1vh 1vw;
  border-bottom: 0.1vw solid #dbdbdb;
}

.post-image {
  width: 100%;
}

.post-caption {
  padding: 1vh 1vw;
}