.post {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: rgb(107, 104, 104);
}

.post-header {
  padding: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.post-image {
  width: 100%;
}

.post-caption {
  padding: 10px;
}