.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #191919;
  margin-bottom: 2%;
  background-color: #333; 
  color: #fff;
  width: 100%;
}

.header h1 {
  margin: 0;
  margin-left: 2%;
  font-size: 1.5rem;
}

.header-icons {
  display: flex;
  margin-left: 0.15vw;
  justify-content: flex-end; 
  gap: 0.1vw; 
}

.icon-spacing {
  display: flex;
  align-items: center;
  margin-right: 0.15vw;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.icon-spacing:hover {
  color: #ccc;
}

.icon {
  margin-right: 0.25vw;
}