.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
  
.search-bar input {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-bar button {
    border: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s ease;
}
.search-bar button:hover { 
    background-color: #0056b3;
}
